body {
  background-color: #29c9dc;
}

#text {
  background-color: #5ad6e4;
  color: #20749b;
  padding: 10px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#textSpan {
  color: rgb(170, 10, 10);
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #20b3c4;
  border-radius: 5px;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls, #stats {
  border: 1px solid #1ea6b6;
  padding: 5px;
  color: #123450;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#fishStats {
  display: none;
  border: 1px solid #1b99a8;
  padding: 5px;
  color: #dff7fa;
  background-color: #159369;
}


.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #147e7e;
  background-color: #99BE1B;
  background-image: linear-gradient(to bottom, #99BE1B, #C4E26A);
  border: 1px solid #7FA617;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all 0.2s ease-in-out;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 2px;
}

@media (hover: hover) {
  button:hover {
    background-image: linear-gradient(to bottom, #C4E26A, #99BE1B);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}

button:active {
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}